.body-admin{
    /* margin-top: 200px; */



    .main-admin{
        text-align: center;
        margin-top: 100px;
        padding-bottom: 100px;

        

        .table-ajust{
            display: flex;
            justify-content: center;


        }

        td, th {
            padding-top: 20px; /* Espace en haut des cellules */
            padding-bottom: 20px; /* Espace en bas des cellules */
            border-bottom: solid 2px;
        }
    }


    .retour-acceui{
        margin-top: 100px;
        
        
        
        a{
            background-color: var(--black-okto);
            border: none;
            color: var(--white-okto);
            padding: 15px 74px;
            border-radius: 22px;
            margin-top: 40px;
            box-shadow: 3px 3px 2px var(--red-okto);
            text-decoration: none;
        }


        }

        button[type=submit]{
            background-color: var(--red-okto);
            color: white; 
            padding: 5px; 
            border: none; 
            cursor: pointer;
        }
        
}