#header{
    opacity: 0.9;
    position: sticky;
    color: var(--white-okto);
    font-family: 'Mooli';
    /* font-weight: 900px; */
    .red{
        color: var(--red-okto)
    }

    #menu{
        a{
            margin-left: 25px;
        }
    }

    
}